body{
    background-color: rgb(33, 32, 32);
}
#contenedor{
    width: 300px;
    height: 300px;
    border-radius:300px 300px 300px 300px;
    background-color: #ffffff;
    justify-content: center;
    position: relative;
    top:175px;
    left:35%
}
#contador{
    position: absolute;
    font-size: 2cm;
    border-radius:100px 100px 100px 100px;
    text-align:center;
    width: 150px;
    height: 60px;
    top: 20%;
    left: 20%;
}
#cont_botones{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 55%;
    left: 18%;
}
#empezar{
    margin: 3%;
    border: none;
    background-color: rgb(234, 176, 60);
    color: rgb(11, 11, 11);
    font-weight:bold;
    width: 6em;
    height: 4em;
    border-radius:100%;
    cursor: pointer;
}
#terminar{
    margin: 3%;
    border: none;
    background-color: rgb(234, 176, 60);
    color: rgb(11, 11, 11);
    font-weight:bold;
    width: 6em;
    height: 4em;
    border-radius:100%;
    cursor: pointer;
}
#staticBackdrop{
    display: none;
}
.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    pointer-events: auto;
    background-color: white;
    background-clip: padding-box;
    border-radius: 15px;
    outline: 0;
    top: -170px;
}
.btn-primary{
    margin: 5%;
}
label {
    margin: 1%;
}
h5{
    margin: 1%;
}