body{
    background-color: rgb(33, 32, 32);
}
#contenedor{
    width: 300px;
    height: 300px;
    border-radius:300px 300px 300px 300px;
    background-color: #ffffff;
    justify-content: center;
    position: relative;
    top:175px;
    left:35%
}
#temporizador{
    position: absolute;
    font-size: 2cm;
    border-radius:100px 100px 100px 100px;
    text-align:center;
    width: 150px;
    height: 60px;
    top: 22%;
    left: 20%;
}
#cont_botones{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 55%;
    left: 22%;
}
#empezar{
    margin: 3%;
    border: none;
    background-color: rgb(234, 176, 60);
    color: rgb(11, 11, 11);
    font-weight:bold;
    width: 6em;
    height: 4em;
    border-radius:100%;
    cursor: pointer;
}
#terminar{
    margin: 3%;
    border: none;
    background-color: rgb(234, 176, 60);
    color: rgb(11, 11, 11);
    font-weight:bold;
    width: 6em;
    height: 4em;
    border-radius:100%;
    cursor: pointer;
}
#staticBackdrop{
    position:absolute;
    top:-175px;
    left:auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin: .3cm;
    border-radius:10px 10px 10px 10px;
    display: none;
}
#boton{
    margin:5%;
}