body{
    background-color: #006E7F;
}
#forms{
    border-color: #006E7F;
    background-color: #F8CB2E;
    justify-content: center;
    text-align: center;
    position: relative;
    top:100px;
    left:400px;
    width: 450px;
    height: auto;
    border-style: solid;
    border-radius:10px 10px 10px 10px;
}
#añadir{
    color: aliceblue;
    border-style: solid;
    width: 100px;
    height: 30px;
    border-radius:10px 10px 10px 10px;
    border-color: #B22727;
    background-color: #B22727;
}
#lista{
    margin: 5%;
    position: relative;
}
.linea{
    position: relative;
    text-align:justify;
    color:aliceblue;
    border-style: solid;
    justify-content: center;
    right:10% ;
    margin: 10px;
    top:auto;
    left:-3%;
    width: auto;
    height: auto;
    border-radius:10px 10px 10px 10px;
    border-color: #FF6363;
    background-color: #FF6363;
}
.acabado{
    position: relative;
    border-color: #E78EA9;
    background-color: #E78EA9;
}

.boton{
    color: aliceblue;
    border-style: solid;
    width: auto;
    height: 20px;
    border-radius:10px 10px 10px 10px;
    border-color: #1A3C40;
    background-color: #1A3C40;
}
.marcar{
    color: aliceblue;
    border-style: solid;
    width: auto;
    height: 20px;
    border-radius:10px 10px 10px 10px;
    border-color: #1A3C40;
    background-color: #1A3C40;
}