<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/presentacion.css"/>
</head>
<body>
    <div id="titulo">
    <h1>Un poco de mí</h1>
    </div>

        <img src="../static/img/yo1.png"  alt="yo" width="370">
        
    <div id="presentacion">
        <h2>Presentación:</h2>
        <p><u><strong>Mi nombre es Mariana Lopez Perez</strong></u>, pero me pueden decir Mari.
        <br>Mi cumpleanos es el <i><strong> 18 de diciembre.</strong></i>
        <br>Normalmente me gusta ver serie, doramas principalmente y ver documentales jeje.
        <br>Soy team frío y Jamaica.</p>
        <br>
    </div>

    <div id="top">
        <h3>Mi top 3 de Crush famosos:</h3>
        <ol>
            <li class="listas"><a href="https://www.alohacriticon.com/cine/actores-y-directores/asa-butterfield/"> Asa Butterfield </a> </li>
            <li class="listas"><a href="https://www.alohacriticon.com/cine/actores-y-directores/dylan-obrien/">Dylan O'Brien </a></li>
            <li class="listas"><a href="https://www.imdb.com/name/nm4396310/">Corey Fogelmanis</a></li>
        </ol>
        <h3>Mi top 3 de Peliculas:</h3>
        <ul>
            <li class="top">El juego de Ender.</li>
            <li class="top">Van Helsing: El cazador de monstruos.</li>
            <li class="top">Kung Fu Panda.</li>
        </ul>
        <h3>Mis canciones favoritas del momento:</h3>
        <ol>
            <li class="listas"><a href="https://www.youtube.com/watch?v=loOWKm8GW6A">Twenty one pilots - Level of Concern </a> </li>
            <li class="listas"><a href="https://www.youtube.com/watch?v=sdQqgVzex_w">Death From Above 1979 - Freeze Me</a></li>
            <li class="listas"><a href="https://www.youtube.com/watch?v=5Euj9f3gdyM">Arcade Fire - The Suburbs</a></li>
            <li class="listas"><a href="https://www.youtube.com/watch?v=8wtj2snRuUI">MisterWives - Our Own House</a></li>
            <li class="listas"><a href="https://www.youtube.com/watch?v=lYoWuaw5nSk">Vance Joy - Riptide</a></li>
            <li class="listas"><a href="https://www.youtube.com/watch?v=hDVHvirhpKk">Warbly Jets - Alive</a></li>
        </ol>

        <h3>Mis pasatiempos:</h3>
        <ul>
            <li class="top">Escuchar musica.</li>
            <li class="top">Ver doramas y peliculas o documentales.</li>
            <li class="top">Jugar COC xd.</li>
        </ul>

        <h3>Mi orden de temas:</h3>
        <ol>
            <li  class="top">html</li>
            <li  class="top">git</li>
            <li  class="top">github</li>
            <li  class="top">JS</li>
            <li  class="top">se guridad/php/diseño</li>
        </ol>
    </div>

    <div id="extradiv">
        <h3 id="extra">Gustos extras:</h3>
        <ul>
            <li class="extra">Me gusta leer novelas futuristas y el atletismo.</li>
            <li class="extra">Me gusta el color verde agua o menta.</li>
            <li class="extra">Me gustan todas las peliculas de Tim Burton.</li>
            <li class="extra">Y algo un tanto curioso es que mi libro favorito es de "Nada" de Janne Teller.</li>
            <br/>
        </ul>
    </div>
</body>
</html>
